html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  header {
    background-color: #080000;
    padding: 10px;
    position: fixed; /* Fija el header en la parte superior de la ventana */
    width: 100%; /* Hace que el header ocupe el 100% del ancho */
    top: 0; /* Coloca el header en la parte superior */
    z-index: 1000; /* Ajusta el índice Z para asegurarse de que el header esté sobre otros elementos */
  }

  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Section Intoduccion */
  .intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
  }
  .negro {
    background-color: #080000ec;
    height: 100vh;
    width: 70%;
    
  }

  .turquesa {
    background-color: #00aeff;
    height: 100vh;
    width: 30%;
  }

  #persona{
    position: absolute;
    height: 500px;
    right: 232px;
    top: 313px;
}

.titulo {
    height: 150px;
    width: 300px;
    position: absolute;
    top: 350px;
    left: 350px;
}

.hello {
  color: #dddddd91;
  margin-bottom: 0;
  font-size: 20px;

}

.name {
  color: #00aeff;
  font-size: 50px;
}

.description {
  color: #dddddd91;
  margin-bottom: 0;
  font-size: 20px;

}



/*SECTION SKILLS*/

.skills {
    border: 2px solid #080000;
    height: 100vh;
    width: 100vw;
    background-color: #080000ec;
}

.titulos{
  color: #00aeff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;

}

.number-progress{
  position: absolute;
  left: 50%;
  font-weight: bold;
}

span{
  color: #dddddd91;
}

/*HTML*/
#html{
  width: 40px;
  height: 40px;
  display: flex;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  #bg-success{
    background-color: rgb(255, 102, 0);
  }
  
  /*CSS*/
  #css{
    width: 45px;
    height: 45px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 2px;
    }
  #bg-info{
    background-color: rgb(1, 129, 235);
  }
  
  /*JS*/
  #js{
    width: 45px;
    height: 45px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 2px;
    }
  #bg-warning{
    background-color: rgb(241, 214, 60);
  }
  
  /*Angular*/
  #angular{
    width: 100px;
    height: 70px;
    display: flex;
    margin-bottom: -6px;
    margin-left: -25px;
    margin-top: 7px;
    }
  #bg-danger{
    background-color: rgb(212, 10, 10);
  }
  
  /*Bootstrap*/
  #bootstrap{
    width: 50px;
    height: 40px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 2px;
    }
  #bg-danger-2{
    background-color: rgba(208, 0, 250, 0.733);
  }

  /*Photoshop*/
  #photoshop{
    width: 50px;
    height: 40px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 2px;
    }
  #bg-danger-3{
    background-color: rgb(0, 67, 250);
  }

/*SECTION EDUCATION*/

.education {
    border: 2px solid #080000;
    height: 100vh;
    width: 100vw;
    background-color: #080000ec;
}


/*Linea de tiempo*/

.timeline {
  max-width: 800px;
  margin: 20px auto;
}

.event {
  display: flex;
  margin-bottom: 10px;
}

.date {
  background-color: #3498db;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
}

.content {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*Proyectos*/

.proyects {
  border: 2px solid #080000;
  height: 100vh;
  width: 100vw;
  background-color: #080000ec;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/*FOOTER*/


.footer {
  border: 2px solid #080000;
  height: 100px;
  width: 100vw;
  background-color: #080000ec;
}